html {
    font-size: 17px;
    height: 100vh;
    overflow-y: hidden;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff; /* Light grey background for the app */
    color: #333; /* Dark text for contrast */
    font-family: "Helvetica Neue", Arial, sans-serif; /* Clean and elegant sans-serif font */
}

.App-header {
    display: flex;
    justify-content: center; /* Center the title horizontally */
    align-items: center; /* Center the title vertically */
    text-align: center; /* Ensure text is centered */
    padding: 100px 20px 50px; /* Add padding for spacing */
}

.App-header h3 {
    font-family: "Helvetica Neue", Arial, sans-serif; /* Clean and elegant sans-serif font */
    font-size: 1.5em; /* Slightly larger font size for emphasis */
    font-weight: 300; /* Light weight for a clean look */
    color: #333; /* Dark color for contrast */
    margin: 0; /* Remove default margin */
}

.style-selector-wrapper {
    padding: 20px; /* Add some padding for aesthetics */
    display: flex;
    justify-content: center; /* Center items horizontally */
}

.style-selector-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.style-selector-wrapper li {
    cursor: pointer;
    margin: 20px 0 30px; /* Increased margin for more space between items */
    padding: 15px 25px; /* Padding for button-like appearance */
    background-color: #ffffff; /* White background for list items */
    border: 1px solid #d3d3d3; /* Light grey border */
    border-radius: 40px; /* Rounded corners */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
    text-align: center; /* Center text inside the button */
    font-family: "Helvetica Neue", Arial, sans-serif; /* Clean and elegant sans-serif font */
    font-weight: 300; /* Light weight for a clean look */
    user-select: none; /* Prevent text selection on click */
}

.style-selector-wrapper li:hover {
    background-color: #e0e0e0; /* Slightly darker grey on hover */
    transform: translateY(-2px); /* Lift effect on hover */
    user-select: none; /* Prevent text selection on click */
}

.style-selector-wrapper li:active {
    background-color: #e0e0e0; /* Maintain hover style on click */
    transform: translateY(-2px); /* Maintain lift effect on click */
    user-select: none;
}

.style-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align image to the bottom */
    background-color: #ffffff; /* White background for image container */
    padding: 20px; /* Add some padding */
    height: 60vh;
}

.style-image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px; /* Rounded corners for images */
}

.transition-left {
    animation: slideLeft 0.5s forwards;
}

.transition-right {
    animation: slideRight 0.5s forwards;
}

@keyframes slideLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.personality-selector-wrapper {
    padding: 20px 20px 0; /* Add some padding for aesthetics */
}

.personality-selector-wrapper ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */

    display: block;
}

.personality-selector-wrapper li {
    margin-bottom: 15px;
    cursor: pointer; /* Pointer cursor on hover */
    padding: 15px 20px; /* Padding for button-like appearance */
    background-color: #ffffff; /* White background for list items */
    border: 1px solid #d3d3d3; /* Light grey border */
    border-radius: 40px; /* Rounded corners */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
    text-align: center; /* Center text inside the button */
    font-family: "Helvetica Neue", Arial, sans-serif; /* Clean and elegant sans-serif font */
    font-weight: 300; /* Light weight for a clean look */
    user-select: none; /* Prevent text selection on click */
    width: 80%; /* Ensure consistent width for alignment */
    color: rgb(20, 20, 20);
}

.personality-selector-wrapper li:hover {
    background-color: #e0e0e0; /* Slightly darker grey on hover */
    transform: translateY(-2px); /* Lift effect on hover */
    user-select: none; /* Prevent text selection on click */
}

.personality-selector-wrapper li:active {
    background-color: #e0e0e0; /* Maintain hover style on click */
    transform: translateY(-2px); /* Maintain lift effect on click */
    user-select: none;
}

.personality-input-wrapper {
    display: flex;
    justify-content: center; /* Center the input field horizontally */
    padding: 0 20px 20px;
}

.personality-input-wrapper input {
    width: 100%;
    padding: 15px; /* Padding for button-like appearance */
    background-color: #ffffff; /* White background for input */
    border: 1px solid #d3d3d3; /* Light grey border */
    border-radius: 40px; /* Rounded corners */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
    text-align: center; /* Center text inside the input */
    font-family: "Helvetica Neue", Arial, sans-serif; /* Clean and elegant sans-serif font */
    font-size: 1rem;
    font-weight: 300; /* Light weight for a clean look */
    outline: none; /* Remove default outline */
}

.personality-input-wrapper input:focus {
    background-color: #f0f0f0; /* Slightly lighter grey on focus */
    transform: translateY(-2px); /* Lift effect on focus */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhance shadow on focus */
}

.loading {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
        0,
        0,
        0,
        0.85
    ); /* Full-screen overlay with slight opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: none;
    transition: opacity 0.5s ease;
    opacity: 0; /* Start hidden */
}

.loading.visible {
    opacity: 1; /* Fade in when visible */
    pointer-events: auto;
    animation: pulse 1.5s ease-in-out infinite; /* Loop the pulse effect */
}

.loading img {
    border-radius: 50%;
    width: 90%;
}
.loadingDescription {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 3rem;
    font-family: "Cursive", sans-serif; /* Cool aesthetic font */
    /* animation: flicker 5s infinite; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow for depth */
    letter-spacing: 0.1rem; /* Slightly increase letter spacing */
    transition: color 0.3s ease-in-out; /* Smooth transition for color changes */
    &:hover {
        color: #ffcc00; /* Change color on hover for a dynamic effect */
    }
}

@keyframes flicker {
    0%,
    18%,
    25%,
    53%,
    57%,
    89%,
    100% {
        opacity: 1;
    }
    20%,
    24%,
    55%,
    75%,
    95% {
        opacity: 0;
    }
}
.sparklingAnimation {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.breadcrumbs-wrapper {
    text-align: center;
    position: relative;
    padding: 0 20px;
}

.breadcrumbs {
    white-space: nowrap;
    overflow-x: auto;
    display: block;
    padding-bottom: 5px;
}

.breadcrumb {
    color: #bbb;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #e0e0e0; /* Light grey similar to border in file_context_0 */
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
    border: 1px solid #e0e0e0;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.breadcrumb.active {
    background-color: #fff; /* White background for active breadcrumb */
    color: #333; /* Dark text for contrast */
    font-weight: bold;
    border: 1px solid #111;
}

.breadcrumb-separator {
    color: #ccc;
    transform: translate(2px, 6px);
    display: inline-block;
}

.back-home-button,
.share-button {
    position: absolute;
    top: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
}

.back-home-button {
    left: 10px;
}

.share-button {
    right: 10px;
}

.icon {
    color: #ccc;
}

.sharing-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: #fff;
}

.sharing-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .style-image-wrapper {
    max-width: 80%;
    max-height: 60%;
    margin-bottom: 20px;
}

.style-image-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.sharing-wrapper .style-image-wrapper {
    border-radius: 15px;
    padding: 0;
}
.sharing-wrapper .style-image-wrapper img {
    width: 100%;
    height: 100%;
    border: 3px solid #ccc;
}

.sharing-x-btn,
.sharing-try-on-btn {
    background-color: #333; /* Dark background color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem; /* Larger font size */
    font-family: "Helvetica Neue", Arial, sans-serif; /* Better font */
    font-weight: bold;
    margin: 40px 0;
}

.sharing-x-btn:hover,
.sharing-try-on-btn:hover {
    background-color: #111; /* Darker background color on hover */
}
